{% extends 'app_1/layout/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

<!-- CV -->
<section class="container-fluid" id="cv-page">
	<div class="container" id="cv">
		<div class="row">
			<div class="col-md-4" id="left-cv">
				<!-- Picture -->
				<div class="text-center">
					<img src="{% static 'img/mypic.jpg' %}" id="pic">
				</div>

				<!-- Nama dan Pekerjaan -->
				<div id="name-work">
					<h1>RICO PUTRA P</h1>
					<p><b>SISTEM INFORMASI - UI</b></p>
				</div>
				
				<!-- Contact -->
				<div class="desc-sec">
					<h3><b>KONTAK</b></h3>
					
					<div class="desc small-font">
						<p>085713791307</p>
						<p>ricopradanaputra2198@gmail.com</p>
						<p>Depok, Indonesia</p>
					</div>
				</div>

				<!-- Social Media -->
				<div class="desc-sec">
					<h3><b>SOSIAL MEDIA</b></h3>
					<div class="row">
						<div class="col-sm-2">
							
						</div>
						<div class="col-md-12 col-sm-8 col-xs-12">
							<div class="desc small-font" id="contact">
								<p><img src="{% static 'img/031-linkedin.png' %}" class="img-contact" style="padding-top: 0px"> : <a href="https://www.linkedin.com/in/rico-putra-pradana-6b9a7b131/">/in/rico-putra-pradana-6b9a7b131/</a></p>
								<p><img src="{% static 'img/034-instagram.png' %}" class="img-contact"> : @ricoputrap</p>
							</div>
						</div>
						<div class="col-sm-2">
							
						</div>
					</div>
					
					
				</div>
				
			</div>
			<div class="col-md-8" id="right-cv">

				<!-- Profil -->
				<div class="desc-sec">
					<h3><b>PROFIL</b></h3>
					
					<div class="desc small-font center">
						<p>Saya adalah seorang mahasiswa Sistem Informasi, Fakultas Ilmu Komputer, Universitas Indonesia, yang sedang berusaha agar tahun ini dapat tergabung di RISTEK FASILKOM UI 2018 pada Web Development SIG di mana saya dapat belajar dan memajukan RISTEK FASILKOM UI bersama teman-teman seperjuangan.</p>
					</div>
				</div>

				<!-- Pengalaman -->
				<div class="desc-sec">
					<h3><b>PENGALAMAN</b></h3>
					
					<div class="desc small-font">
						<p class="thick-par">WAKIL KETUA PANITIA</p>
						<p>SIGEMPUR UI | OKT 2017 - JAN 2018</p>
						<ul>
							<li>Bertanggung jawab atas suasana internal panitia</li>
							<li>Bertanggung jawab atas kinerja setiap divisi</li>
						</ul>
					</div>

					<div class="desc small-font">
						<p class="thick-par">ASISTEN DOSEN</p>
						<p>FAKULTAS ILMU KOMPUTER UI | SEP 2017 - DES 2017</p>
						<ul>
							<li>Memfasilitasi mahasiswa dalam hal akademis mata kuliah Matematika Dasar 1</li>
							<li>Mengoreksi Pekerjaan Rumah (PR) untuk peserta mata kuliah Matematika Dasar 1</li>
						</ul>
					</div>
				</div>

				<!-- Pendidikan -->
				<div class="desc-sec">
					<h3><b>PENDIDIKAN</b></h3>
					<div class="desc small-font">
						<div class="row">
							<div class="col-md-4 col-sm-5 col-xs-4">
								<p>2016 - SEKARANG</p>
							</div>
							<div class="col-md-8 col-sm-7 col-xs-8">
								<p>: UNIVERSITAS INDONESIA</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-5 col-xs-4">
								<p>2013 - 2016</p>
							</div>
							<div class="col-md-8 col-sm-7 col-xs-8">
								<p>: SMA NEGERI 1 PURWOREJO</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-5 col-xs-4">
								<p>2010 - 2013</p>
							</div>
							<div class="col-md-8 col-sm-7 col-xs-8">
								<p>: SMP NEGERI 2 PURWOREJO</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-5 col-xs-4">
								<p>2004 - 2010</p>
							</div>
							<div class="col-md-8 col-sm-7 col-xs-8">
								<p>: SD NEGERI KEDUREN</p>
							</div>
						</div
					</div>
				</div>

				<!-- Keahlian -->
				<div class="desc-sec">
					<h3><b>KEAHLIAN</b></h3>
					<div class="desc small-font">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<ul>
									<li>HTML & CSS</li>
									<li>Python</li>
									<li>Java</li>
									<li>Django</li>
									<li>TDD with Django</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-6">
								<ul>
									<li>Javascript</li>
									<li>jQuery</li>
									<li>Bootstrap</li>
									<li>Business Administration</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Organisasi -->
				<div class="desc-sec small-font center">
					<h3><b>ORGANISASI</b></h3>
					<div class="desc">
						<p class="thick-par">KOMPOR UI</p>
						<p>WAKIL KETUA</p>
						<p>JAN 2018 - SEKARANG</p>
					</div>
					<div class="desc">
						<p class="thick-par">BADAN EKSEKUTIF MAHASISWA - UNIVERSITAS INDONESIA</p>
						<p>STAF BIRO DATA PUBLIK</p>
						<p>FEB 2017 - JAN 2018</p>
					</div>
					<div class="desc">
						<p class="thick-par">KOMPOR UI</p>
						<p>WAKIL KETUA DIVISI HUMAS</p>
						<p>JAN 2017 - JAN 2018</p>
					</div>
					<div class="desc">
						<p class="thick-par">OSIS SMA NEGERI 1 PURWOREJO</p>
						<p>KEPALA SEKSI BUDI PEKERTI LUHUR & AKHLAK MULIA</p>
						<p>SEP 2014 - SEP 2015</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END of CV -->
{% endblock %}


<!-- 
	Refrensi
1. https://www.flaticon.com/
2. https://www.flatuicolors.com/
3. https://www.w3schools.com/
4. https://www.canva.com/
5. https://getbootstrap.com
 -->