 /*--------------------------- Secton CV --------------------------- */
#cv-page {
	background-color: #ecf0f1;
	padding: 60px;
}

#cv {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #ffffff;
}

/* ------------------ Div Left-cv ------------------ */
#left-cv {
	background-color: #ffffff;
	padding: 20px 40px;
	word-wrap: break-word;
}

@media (max-width:991px) {
	#left-cv {
		text-align: center;
	}
}

/* ------------ Sub-div Profile ------------ */
#pic {
	border-radius: 100%;
	margin: 100px 30px 70px 30px;
	max-height: 250px;
}

#name-work h1 {
	font-size: 50px;
	letter-spacing: 3px;
	color: #fdcb6e;
	font-family: 'Oswald', sans-serif;
}

#name-work p {
	font-family: 'Abel', sans-serif;
	letter-spacing: 3px;
	color: #000000;
	font-size: 15px;
}

.img-contact {
	max-height: 40px;
	padding: 5px;
}

#contact {
	text-align: left;
}

@media (max-width:500px) {
	#pic {
		max-height: 100px;
		margin: 5px;
	}

	#name-work h1 {
		font-size: 17px;
		letter-spacing: 1px;
	}

	#name-work p {
		font-size: 10px;
	}

	.img-contact {
		max-height: 20px;
		padding: 1px;
	}
}

@media (max-width: 1200px) {
	#pic {
		margin-left: 5px;
		margin-right: 10px;
	}
	#left-cv {
		padding: 20px 40px 20px 36px;
	}
}


/* -------------------- Div DESC -------------------- */
#left-cv .desc-sec {
	margin-top: 60px;
}

#left-cv .desc-sec h3 {
	background-color: #fdcb6e;
	color: #ffffff;
}

#left-cv .desc p {
	color: #000000;
}

.desc-sec h3 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	padding: 15px;
}

.desc p {
	padding-left: 5px;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: 'Abel', sans-serif;
	color: #000000;
}

li {
	letter-spacing: 1px;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Abel', sans-serif;
}
/* ------------------ END of Left-cv ------------------ */


/* ------------------- Div Right-cv ------------------- */
#right-cv {
	background-color: #fdcb6e;
	padding: 20px 40px;
}

#right-cv .desc-sec {
	margin-top: 60px; 
}

#right-cv .desc-sec h3 {
	background-color: #ffffff;
	color: #fdcb6e;
}

#right-cv .desc {
	margin: 15px 0px;
}

#right-cv .desc p {
	margin: 2px 0px;
	color: #ffffff;
}

#right-cv .desc p.thick-par {
	font-family: 'Abel', sans-serif;
	margin: 3px 0px;
	font-weight: bold;
}

@media (max-width: 991px) {
	.desc-sec h3 {
		text-align: center;
		font-size: 20px;
		padding: 10px;
	}
	.center {
		text-align: center;
	}
}

@media (max-width: 800px) {
	.small-font p {
		font-size: 15px;
	}
}

@media (max-width: 400px) {
	.small-font li {
		font-size: 10px;
	}
	.small-font p {
		font-size: 10px;
	}

	.desc-sec h3 {
		font-size: 10px;
		padding: 5px;
	}

	#left-cv {
		padding: 10px;
	}

}
/* ------------------ END of Right-cv ----------------- */

/* --------------------------- END of Section CV --------------------------- */