 /*--------------------------- Secton CV --------------------------- */
#cv-page {
	background-color: #ecf0f1;
	padding: 60px;
}

#cv {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

/* ------------------ Div Left-cv ------------------ */
#left-cv {
	background-color: #ffffff;
	padding: 20px 40px;
	word-wrap: break-word;
}

@media (max-width:991px) {
	#left-cv {
		text-align: center;
	}
}

/* --------------- Sub-div Profile --------------- */
#pic {
	border-radius: 100%;
	margin: 100px 30px 70px 30px;
	max-height: 250px;
}

#name-work h1 {
	font-size: 50px;
	letter-spacing: 3px;
	color: #00cec9;
	font-family: 'Oswald', sans-serif;
}

#name-work p {
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	color: #000000;
}

@media (max-width:500px) {
	#pic {
		max-height: 100px;
		margin: 5px;
	}

	#name-work h1 {
		font-size: 17px;
		letter-spacing: 1px;
	}

	#name-work p {
		font-size: 10px;
	}
}

@media (max-width: 1200px) {
	#pic {
		margin: 1px;
	}
}

/* -------------------- Div DESC -------------------- */
#left-cv .desc-sec {
	margin-top: 60px;
}

#left-cv .desc-sec h3 {
	background-color: #00cec9;
}

.desc-sec h3 {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	padding: 15px;
}

.desc {
	padding: 5px;
	letter-spacing: 2px;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-weight: bold;
}

/* ------------------ END of Left-cv ------------------ */


/* ------------------- Div Right-cv ------------------- */
#right-cv {
	background-color: #00cec9;
	padding: 20px 40px;
}
/* ------------------ END of Right-cv ----------------- */

/* --------------------------- END of Section CV --------------------------- */