/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0.0.0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.container-fluid {
	background-color: white;
}
/* Left-Content */
#left-content {
	padding: 200px 70px;
	background-color: #FFBA5C;
	min-height: 650px;
	margin: auto;
}

#left-content h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bolder;
	font-size: 50px;
}

#left-content p {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#myBtn {
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}

@media (max-width: 600px) {
	#left-content {
		padding: 200px 60px;
	}
}

@media (max-width: 500px) {
	#left-content {
		padding: 200px 15px;
	}
}

@media (max-width: 400px) {
	#left-content {
		padding: 200px 3px;
	}

	#left-content h1 {
		font-size: 30px;
	}

	#left-content p {
		font-size: 15px;
	}

	#myBtn {
		font-size: 15px;
	..}
}

/* Right-Content */
#right-content {

}