{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="description" content="My CV">
   	<meta name="author" content="Rico">
   	<!-- bootstrap css -->
   	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton:400,700">
   	<link href="https://fonts.googleapis.com/css?family=Oswald|Titillium+Web:200" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{% static 'css/app_1.css' %}">
   	<title>{% block title %}My CV{% endblock %}</title>
</head>
<body>
	<header>
   	</header>
   	<content>
    	{% block content %}

    	{% endblock %}
   	</content>
   	<footer>
   	</footer>
   	<!-- Jquery n Bootstrap Script -->
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>